/node_modules
/public/hot
/public/storage/entradas
/public/storage/salidas
/storage/framework
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
